
<f:layout name="Default" />

<f:section name="main">
<div class="tx_racletterecipe recipies shopitems">
	<f:for each="{recipes}" as="recipe">
		<div class="shopitem col-md-3">
			<div class="item">
				<f:image src="{recipe.imageThumb.originalResource.publicUrl}" />
				<div class="con">
					<h3><f:link.action action="show" arguments="{recipe : recipe}"> {recipe.title}</f:link.action></h3>
					<div class="rating r{recipe.recipeScore}_{recipe.notRateStars}"></div>
				</div>
			</div>
		</div>
	</f:for>
</div>
</f:section>